.event-card {
    width: 17rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    box-shadow: none;
    position: relative;
}

.event-title {
    font-size: 1.8rem;
    font-weight: 700;
}

.event-image {
    border-radius: 10px;
    height: 12rem;
    object-fit: cover;
}

.event-address {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.event-rating {
    font-size: 1.2rem;
    color: #6c757d;
}

.event-price {
    font-size: 1.4rem;
    color: #000;
}

.event-edit-icon{
    position: absolute;
    bottom: 17px;
    right: 15px;
    font-size: 1.6rem;
    color:#007BFF;
    z-index: 1000;
    transition: 0.15s ease;
}

.event-edit-icon:hover{
    color:#66b0ff

}