#events-content{
    width: 100%;
    height: 100%;
}

#events-top-container{
    background-color: white;
    margin: 11px;
    border-radius: 10px;
    background-image: url("https://s3-alpha-sig.figma.com/img/8e87/f396/5bb6cdd58fdccad48a4414e14405c76c?Expires=1731283200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=eRVakKFgZIPVcp30mNhANzbJy0-078oqPBX1ybO1wlZ94CmEy9BJYYEpUB7Gb7R54gZseZPr9somaxxkOzCzJGPv5csokoktnGwa5mNPLhQ-WOXuzxsJzoIHKFrDYHx9h~e5apzM7doGc3nGBwdSFwlduEC1GMg4J8WyIlsSGhS6i~8cHyvdwmewB8Csa1AgCcsRBOB9q5wkVBR1FtgSYotbxjnKX9m-8q7KS29OFpzeChEKej-ILHVc4XUFfBvV8KLWftM7stcTv4TgF~NRGlaokdPvM4eKBztitygxw7lxzSyUYwD6~QoHZL2SscckJlr~FJhdkSupdiaTm-Ezsw__");
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#events-bottom-container{
    margin-top: 60px;
}

#add-event-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

#add-event-container .line{
    margin: 0;
    padding: 0;
    width: 30%;
    height: 2px;
    background-color: #538E3E;
}

#add-event-button{
    color: white;
    font-size: 25px;
    background-color: #538E3E;
    border: none;
    padding: 10px 40px;
    border-radius: 10px;
    margin: 0 30px;
}