.container {

    display: flex;
    justify-content: center;

    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
}

.filterDiv {
    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    flex-basis: 20%;
    padding-left: 1rem;
}

.filterDiv h4 {
    margin: 20px 0;
}

.filterOption {
    margin: 30px 0;
}

.filterOption label {
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.filterOption input[type="radio"] {
    margin-right: 10px;
}

.cardGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    flex-basis: 75%;
}

.inputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 10px;
    font-size: 1rem;
}

.horizontalLine {
    margin: 0 7%;
}

@media (max-width: 768px) {
    .filterDiv {
        display: none;
    }

    .cardGrid {
        justify-content: center;
    }
}