/* FilterDiv.module.css */
.container {

    display: flex;
    justify-content: center;

    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
}

.filterDiv {
    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    flex-basis: 20%;
    padding-left: 1rem;
}

.filterDiv h4 {
    margin: 20px 0;
}

.filterOption {
    margin-bottom: 20px;
}

.filterOption label {
    font-weight: 500;
}

.filterOption input[type="radio"] {
    margin-right: 10px;
}

.cardGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    /* Adds space between cards */
    flex-basis: 75%;
}

/* Responsive styling */
@media (max-width: 768px) {
    .filterDiv {
        display: none;
        /* Hide the sidebar on smaller screens */
    }

    .cardGrid {
        justify-content: center;
    }
}