#footer-container {
    background-color: #3D3D3D;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

#footer-container p {
    color: white;
    font-size: 16px;
    margin: 0;
}